@font-face {
	font-family: 'dm-font';
	src:url('fonts/dm-font.eot');
	src:url('fonts/dm-font.eot?#iefix') format('embedded-opentype'),
		url('fonts/dm-font.woff') format('woff'),
		url('fonts/dm-font.ttf') format('truetype'),
		url('fonts/dm-font.svg#dm-font') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'dm-font';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="dm-icon-"] {
*/
.dm-icon-zoom-out, .dm-icon-zoom-in, .dm-icon-youtube, .dm-icon-yelp, .dm-icon-x2, .dm-icon-untitled, .dm-icon-x_handwritten, .dm-icon-wrench, .dm-icon-wordpress, .dm-icon-windowsvv, .dm-icon-win8, .dm-icon-warning-sign, .dm-icon-wallet, .dm-icon-w_youtube, .dm-icon-w_youtube_channel, .dm-icon-w_yelp, .dm-icon-w_video, .dm-icon-w_twitter, .dm-icon-w_title, .dm-icon-w_tabs, .dm-icon-w_spacer, .dm-icon-w_social_icons, .dm-icon-w_share, .dm-icon-w_rss_feed, .dm-icon-w_photo_gallery, .dm-icon-w_paypal, .dm-icon-w_paragraph, .dm-icon-w_open_table, .dm-icon-w_multi_location, .dm-icon-w_menu, .dm-icon-w_map, .dm-icon-w_list, .dm-icon-w_image, .dm-icon-w_image_slider, .dm-icon-w_image_placeholder, .dm-icon-w_html, .dm-icon-w_hours_of_operation, .dm-icon-w_home, .dm-icon-w_google_adsense, .dm-icon-w_facebook_like, .dm-icon-w_facebook_gallery, .dm-icon-w_facebook_comments, .dm-icon-w_email, .dm-icon-w_documentation, .dm-icon-w_divider, .dm-icon-w_coupon, .dm-icon-w_contact_us, .dm-icon-w_constant_contact, .dm-icon-w_click_to_info, .dm-icon-w_click_to_call, .dm-icon-w_click_to-_text, .dm-icon-w_button, .dm-icon-w_briefcase_2, .dm-icon-w_brief, .dm-icon-w_api, .dm-icon-w_2_columns, .dm-icon-volume-up, .dm-icon-volume-off, .dm-icon-volume-down, .dm-icon-vimeo, .dm-icon-user2, .dm-icon-User, .dm-icon-upload, .dm-icon-upload-alt, .dm-icon-up, .dm-icon-unlocked, .dm-icon-unlock, .dm-icon-undo, .dm-icon-underline2, .dm-icon-underline, .dm-icon-twitter2, .dm-icon-twitter, .dm-icon-twitter-sign, .dm-icon-truck2, .dm-icon-truck, .dm-icon-trophy, .dm-icon-trash2, .dm-icon-trash, .dm-icon-tint, .dm-icon-time, .dm-icon-thumbs-up, .dm-icon-thumbs-down, .dm-icon-theme, .dm-icon-th, .dm-icon-th-list, .dm-icon-th-large, .dm-icon-TextStyleIcon, .dm-icon-TextImgIcon, .dm-icon-text-width, .dm-icon-text-height, .dm-icon-tennis, .dm-icon-tasks, .dm-icon-tags, .dm-icon-tag, .dm-icon-tablet2, .dm-icon-tablet, .dm-icon-table, .dm-icon-study, .dm-icon-strikethrough, .dm-icon-stop, .dm-icon-step-forward, .dm-icon-step-backward, .dm-icon-steams, .dm-icon-steak, .dm-icon-stats, .dm-icon-star, .dm-icon-star-half, .dm-icon-star-empty, .dm-icon-spellcheck, .dm-icon-social, .dm-icon-signout, .dm-icon-signin, .dm-icon-signal, .dm-icon-sign-blank, .dm-icon-shopping-cart, .dm-icon-share2, .dm-icon-share, .dm-icon-share-alt, .dm-icon-settings2, .dm-icon-settings, .dm-icon-search2, .dm-icon-search, .dm-icon-screenshot, .dm-icon-scream, .dm-icon-save, .dm-icon-save-disc, .dm-icon-sailing-boat, .dm-icon-s_yelp, .dm-icon-s_vimeo, .dm-icon-s_picassa, .dm-icon-rss, .dm-icon-road, .dm-icon-right, .dm-icon-right-to-left, .dm-icon-retweet, .dm-icon-resize-vertical, .dm-icon-resize-small, .dm-icon-resize-horizontal, .dm-icon-resize-full, .dm-icon-reset, .dm-icon-republish, .dm-icon-repeat, .dm-icon-reorder, .dm-icon-remove, .dm-icon-remove-sign, .dm-icon-remove-circle, .dm-icon-refresh2, .dm-icon-refresh, .dm-icon-redo, .dm-icon-random, .dm-icon-question, .dm-icon-question-sign, .dm-icon-qrcode, .dm-icon-pushpin, .dm-icon-print, .dm-icon-presentation, .dm-icon-position_side, .dm-icon-position_center, .dm-icon-popup, .dm-icon-podiumv, .dm-icon-plus, .dm-icon-plus-sign, .dm-icon-play, .dm-icon-play-circle, .dm-icon-plane, .dm-icon-pizza, .dm-icon-pinterest, .dm-icon-picture, .dm-icon-picassa, .dm-icon-phone2, .dm-icon-phone, .dm-icon-phone-sign, .dm-icon-pencil2, .dm-icon-pencil, .dm-icon-pc, .dm-icon-payment, .dm-icon-paw, .dm-icon-pause, .dm-icon-paper-clip, .dm-icon-PageBackgroundImgIcon, .dm-icon-page3, .dm-icon-page2, .dm-icon-page, .dm-icon-page-youtube2, .dm-icon-page-url, .dm-icon-page-rows, .dm-icon-page-menu, .dm-icon-page-list, .dm-icon-pacman, .dm-icon-p_page_url, .dm-icon-p_blog, .dm-icon-p_about_us, .dm-icon-orange, .dm-icon-ok, .dm-icon-ok-sign, .dm-icon-ok-circle, .dm-icon-off, .dm-icon-nudels, .dm-icon-nocheck, .dm-icon-navigation, .dm-icon-n_stats, .dm-icon-n_payment, .dm-icon-n_manage_site, .dm-icon-n_general, .dm-icon-n_dashboard, .dm-icon-n_custom_domain, .dm-icon-n_custom_branding, .dm-icon-n_api, .dm-icon-music2, .dm-icon-music, .dm-icon-mug, .dm-icon-moveitem, .dm-icon-move, .dm-icon-MoreImgIcon, .dm-icon-minus, .dm-icon-minus-sign, .dm-icon-menu, .dm-icon-medal, .dm-icon-matrix, .dm-icon-map-marker, .dm-icon-mail, .dm-icon-magnet, .dm-icon-magic, .dm-icon-locked, .dm-icon-lock, .dm-icon-locations, .dm-icon-location, .dm-icon-list2, .dm-icon-list, .dm-icon-list-ul, .dm-icon-list-ol, .dm-icon-list-alt, .dm-icon-linkedin2, .dm-icon-linkedin, .dm-icon-linkedin-sign, .dm-icon-link3, .dm-icon-link2, .dm-icon-link, .dm-icon-lemon, .dm-icon-left, .dm-icon-left-to-right, .dm-icon-leaf, .dm-icon-layout2, .dm-icon-layout, .dm-icon-lamp, .dm-icon-lab, .dm-icon-key, .dm-icon-justice, .dm-icon-juice, .dm-icon-italic2, .dm-icon-italic, .dm-icon-innerpages, .dm-icon-info-sign, .dm-icon-indentright, .dm-icon-indentleft, .dm-icon-indent-right, .dm-icon-indent-left, .dm-icon-inbox, .dm-icon-import-txt, .dm-icon-img_tile, .dm-icon-img_no_tile, .dm-icon-img_full, .dm-icon-img_down, .dm-icon-img_across, .dm-icon-image, .dm-icon-IconImgIcon, .dm-icon-ice-cream, .dm-icon-html2, .dm-icon-html, .dm-icon-homepage, .dm-icon-home2, .dm-icon-home, .dm-icon-hide, .dm-icon-hide-tablet, .dm-icon-hide-phone, .dm-icon-hide-pc, .dm-icon-heart, .dm-icon-heart-empty, .dm-icon-headphones, .dm-icon-HeadingStyleImgIcon, .dm-icon-hdd, .dm-icon-hand-up, .dm-icon-hand-right, .dm-icon-hand-left, .dm-icon-hand-down, .dm-icon-group, .dm-icon-graduate, .dm-icon-google-plus, .dm-icon-google-drive, .dm-icon-globus, .dm-icon-globe, .dm-icon-glass, .dm-icon-github2, .dm-icon-github, .dm-icon-github-sign, .dm-icon-gift, .dm-icon-GeneralImgIcon, .dm-icon-gas-v-pump, .dm-icon-gamepad, .dm-icon-Gallery, .dm-icon-fullscreen, .dm-icon-forward, .dm-icon-forrst, .dm-icon-football, .dm-icon-food2, .dm-icon-food, .dm-icon-font2, .dm-icon-font, .dm-icon-font-size, .dm-icon-folder-open, .dm-icon-folder-close, .dm-icon-flag2, .dm-icon-flag, .dm-icon-fish, .dm-icon-fire, .dm-icon-filter, .dm-icon-film, .dm-icon-file, .dm-icon-feed, .dm-icon-fast-forward, .dm-icon-fast-backward, .dm-icon-facetime-video, .dm-icon-facebook3, .dm-icon-facebook2, .dm-icon-facebook, .dm-icon-facebook-sign, .dm-icon-eye, .dm-icon-eye-open, .dm-icon-eye-close, .dm-icon-external-link, .dm-icon-expande, .dm-icon-exclamation-sign, .dm-icon-envelope2, .dm-icon-envelope, .dm-icon-eject, .dm-icon-eight-ball, .dm-icon-edit2, .dm-icon-edit, .dm-icon-duda-arrow, .dm-icon-drop, .dm-icon-drink3, .dm-icon-drink, .dm-icon-dribbble, .dm-icon-download, .dm-icon-download-alt, .dm-icon-down, .dm-icon-dollar, .dm-icon-dog, .dm-icon-devices, .dm-icon-desktop2, .dm-icon-DesignImgIcon, .dm-icon-design, .dm-icon-delete, .dm-icon-cut, .dm-icon-cupcake, .dm-icon-cup, .dm-icon-croisant2, .dm-icon-credit2, .dm-icon-credit, .dm-icon-copy, .dm-icon-complex, .dm-icon-comments, .dm-icon-comment, .dm-icon-columns-4, .dm-icon-columns-3, .dm-icon-columns-2, .dm-icon-column-1, .dm-icon-color-icon, .dm-icon-collapse, .dm-icon-cogs, .dm-icon-cog, .dm-icon-coffee, .dm-icon-cloud, .dm-icon-circle-arrow-up, .dm-icon-circle-arrow-right, .dm-icon-circle-arrow-left, .dm-icon-circle-arrow-down, .dm-icon-chrome, .dm-icon-chicken, .dm-icon-chevron-up, .dm-icon-chevron-right, .dm-icon-chevron-left, .dm-icon-chevron-down, .dm-icon-cherry, .dm-icon-checkmark, .dm-icon-checkbox1, .dm-icon-checkbox_small, .dm-icon-check2, .dm-icon-check, .dm-icon-check-empty, .dm-icon-certificate, .dm-icon-car, .dm-icon-camera, .dm-icon-camera-retro, .dm-icon-call, .dm-icon-calendar, .dm-icon-cake, .dm-icon-cabinet, .dm-icon-buttonsStyleImgIcon, .dm-icon-buttonsStyleImgIcon-, .dm-icon-bus, .dm-icon-bullhorn, .dm-icon-briefcase, .dm-icon-bowling, .dm-icon-bookmark2, .dm-icon-bookmark, .dm-icon-bookmark-empty, .dm-icon-book2, .dm-icon-book, .dm-icon-bold, .dm-icon-boat, .dm-icon-blogger, .dm-icon-blank, .dm-icon-bike2, .dm-icon-bike, .dm-icon-bell, .dm-icon-beer-mug, .dm-icon-bed, .dm-icon-beaker, .dm-icon-basketball, .dm-icon-baseball, .dm-icon-bars, .dm-icon-barcode, .dm-icon-bar-chart, .dm-icon-ban-circle, .dm-icon-backward, .dm-icon-B-bold, .dm-icon-attachment, .dm-icon-asterisk, .dm-icon-arrow, .dm-icon-arrow-up, .dm-icon-arrow-right, .dm-icon-arrow-left, .dm-icon-arrow-down, .dm-icon-arrow_up, .dm-icon-arrow_right, .dm-icon-arrow_dropdown, .dm-icon-archive, .dm-icon-apple, .dm-icon-android, .dm-icon-americanfootball, .dm-icon-align-top, .dm-icon-align-right, .dm-icon-align-left, .dm-icon-align-justify, .dm-icon-align-center, .dm-icon-align-center-2, .dm-icon-align-bottem, .dm-icon-airplane, .dm-icon-adjust, .dm-icon-about {
	font-family: 'dm-font';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.dm-icon-zoom-out:before {
	content: "\e000";
}
.dm-icon-zoom-in:before {
	content: "\e001";
}
.dm-icon-youtube:before {
	content: "\e002";
}
.dm-icon-yelp:before {
	content: "\e003";
}
.dm-icon-x2:before {
	content: "\e004";
}
.dm-icon-untitled:before {
	content: "\e005";
}
.dm-icon-x_handwritten:before {
	content: "\e006";
}
.dm-icon-wrench:before {
	content: "\e007";
}
.dm-icon-wordpress:before {
	content: "\e008";
}
.dm-icon-windowsvv:before {
	content: "\e009";
}
.dm-icon-win8:before {
	content: "\e00a";
}
.dm-icon-warning-sign:before {
	content: "\e00b";
}
.dm-icon-wallet:before {
	content: "\e00c";
}
.dm-icon-w_youtube:before {
	content: "\e00d";
}
.dm-icon-w_youtube_channel:before {
	content: "\e00e";
}
.dm-icon-w_yelp:before {
	content: "\e00f";
}
.dm-icon-w_video:before {
	content: "\e010";
}
.dm-icon-w_twitter:before {
	content: "\e011";
}
.dm-icon-w_title:before {
	content: "\e012";
}
.dm-icon-w_tabs:before {
	content: "\e013";
}
.dm-icon-w_spacer:before {
	content: "\e014";
}
.dm-icon-w_social_icons:before {
	content: "\e015";
}
.dm-icon-w_share:before {
	content: "\e016";
}
.dm-icon-w_rss_feed:before {
	content: "\e017";
}
.dm-icon-w_photo_gallery:before {
	content: "\e018";
}
.dm-icon-w_paypal:before {
	content: "\e019";
}
.dm-icon-w_paragraph:before {
	content: "\e01a";
}
.dm-icon-w_open_table:before {
	content: "\e01b";
}
.dm-icon-w_multi_location:before {
	content: "\e01c";
}
.dm-icon-w_menu:before {
	content: "\e01d";
}
.dm-icon-w_map:before {
	content: "\e01e";
}
.dm-icon-w_list:before {
	content: "\e01f";
}
.dm-icon-w_image:before {
	content: "\e020";
}
.dm-icon-w_image_slider:before {
	content: "\e021";
}
.dm-icon-w_image_placeholder:before {
	content: "\e022";
}
.dm-icon-w_html:before {
	content: "\e023";
}
.dm-icon-w_hours_of_operation:before {
	content: "\e024";
}
.dm-icon-w_home:before {
	content: "\e025";
}
.dm-icon-w_google_adsense:before {
	content: "\e026";
}
.dm-icon-w_facebook_like:before {
	content: "\e027";
}
.dm-icon-w_facebook_gallery:before {
	content: "\e028";
}
.dm-icon-w_facebook_comments:before {
	content: "\e029";
}
.dm-icon-w_email:before {
	content: "\e02a";
}
.dm-icon-w_documentation:before {
	content: "\e02b";
}
.dm-icon-w_divider:before {
	content: "\e02c";
}
.dm-icon-w_coupon:before {
	content: "\e02d";
}
.dm-icon-w_contact_us:before {
	content: "\e02e";
}
.dm-icon-w_constant_contact:before {
	content: "\e02f";
}
.dm-icon-w_click_to_info:before {
	content: "\e030";
}
.dm-icon-w_click_to_call:before {
	content: "\e031";
}
.dm-icon-w_click_to-_text:before {
	content: "\e032";
}
.dm-icon-w_button:before {
	content: "\e033";
}
.dm-icon-w_briefcase_2:before {
	content: "\e034";
}
.dm-icon-w_brief:before {
	content: "\e035";
}
.dm-icon-w_api:before {
	content: "\e036";
}
.dm-icon-w_2_columns:before {
	content: "\e037";
}
.dm-icon-volume-up:before {
	content: "\e038";
}
.dm-icon-volume-off:before {
	content: "\e039";
}
.dm-icon-volume-down:before {
	content: "\e03a";
}
.dm-icon-vimeo:before {
	content: "\e03b";
}
.dm-icon-user2:before {
	content: "\e03c";
}
.dm-icon-User:before {
	content: "\e03d";
}
.dm-icon-upload:before {
	content: "\e03e";
}
.dm-icon-upload-alt:before {
	content: "\e03f";
}
.dm-icon-up:before {
	content: "\e040";
}
.dm-icon-unlocked:before {
	content: "\e041";
}
.dm-icon-unlock:before {
	content: "\e042";
}
.dm-icon-undo:before {
	content: "\e043";
}
.dm-icon-underline2:before {
	content: "\e044";
}
.dm-icon-underline:before {
	content: "\e045";
}
.dm-icon-twitter2:before {
	content: "\e046";
}
.dm-icon-twitter:before {
	content: "\e047";
}
.dm-icon-twitter-sign:before {
	content: "\e048";
}
.dm-icon-truck2:before {
	content: "\e049";
}
.dm-icon-truck:before {
	content: "\e04a";
}
.dm-icon-trophy:before {
	content: "\e04b";
}
.dm-icon-trash2:before {
	content: "\e04c";
}
.dm-icon-trash:before {
	content: "\e04d";
}
.dm-icon-tint:before {
	content: "\e04e";
}
.dm-icon-time:before {
	content: "\e04f";
}
.dm-icon-thumbs-up:before {
	content: "\e050";
}
.dm-icon-thumbs-down:before {
	content: "\e051";
}
.dm-icon-theme:before {
	content: "\e052";
}
.dm-icon-th:before {
	content: "\e053";
}
.dm-icon-th-list:before {
	content: "\e054";
}
.dm-icon-th-large:before {
	content: "\e055";
}
.dm-icon-TextStyleIcon:before {
	content: "\e056";
}
.dm-icon-TextImgIcon:before {
	content: "\e057";
}
.dm-icon-text-width:before {
	content: "\e058";
}
.dm-icon-text-height:before {
	content: "\e059";
}
.dm-icon-tennis:before {
	content: "\e05a";
}
.dm-icon-tasks:before {
	content: "\e05b";
}
.dm-icon-tags:before {
	content: "\e05c";
}
.dm-icon-tag:before {
	content: "\e05d";
}
.dm-icon-tablet2:before {
	content: "\e05e";
}
.dm-icon-tablet:before {
	content: "\e05f";
}
.dm-icon-table:before {
	content: "\e060";
}
.dm-icon-study:before {
	content: "\e061";
}
.dm-icon-strikethrough:before {
	content: "\e062";
}
.dm-icon-stop:before {
	content: "\e063";
}
.dm-icon-step-forward:before {
	content: "\e064";
}
.dm-icon-step-backward:before {
	content: "\e065";
}
.dm-icon-steams:before {
	content: "\e066";
}
.dm-icon-steak:before {
	content: "\e067";
}
.dm-icon-stats:before {
	content: "\e068";
}
.dm-icon-star:before {
	content: "\e069";
}
.dm-icon-star-half:before {
	content: "\e06a";
}
.dm-icon-star-empty:before {
	content: "\e06b";
}
.dm-icon-spellcheck:before {
	content: "\e06c";
}
.dm-icon-social:before {
	content: "\e06d";
}
.dm-icon-signout:before {
	content: "\e06e";
}
.dm-icon-signin:before {
	content: "\e06f";
}
.dm-icon-signal:before {
	content: "\e070";
}
.dm-icon-sign-blank:before {
	content: "\e071";
}
.dm-icon-shopping-cart:before {
	content: "\e072";
}
.dm-icon-share2:before {
	content: "\e073";
}
.dm-icon-share:before {
	content: "\e074";
}
.dm-icon-share-alt:before {
	content: "\e075";
}
.dm-icon-settings2:before {
	content: "\e076";
}
.dm-icon-settings:before {
	content: "\e077";
}
.dm-icon-search2:before {
	content: "\e078";
}
.dm-icon-search:before {
	content: "\e079";
}
.dm-icon-screenshot:before {
	content: "\e07a";
}
.dm-icon-scream:before {
	content: "\e07b";
}
.dm-icon-save:before {
	content: "\e07c";
}
.dm-icon-save-disc:before {
	content: "\e07d";
}
.dm-icon-sailing-boat:before {
	content: "\e07e";
}
.dm-icon-s_yelp:before {
	content: "\e07f";
}
.dm-icon-s_vimeo:before {
	content: "\e080";
}
.dm-icon-s_picassa:before {
	content: "\e081";
}
.dm-icon-rss:before {
	content: "\e082";
}
.dm-icon-road:before {
	content: "\e083";
}
.dm-icon-right:before {
	content: "\e084";
}
.dm-icon-right-to-left:before {
	content: "\e085";
}
.dm-icon-retweet:before {
	content: "\e086";
}
.dm-icon-resize-vertical:before {
	content: "\e087";
}
.dm-icon-resize-small:before {
	content: "\e088";
}
.dm-icon-resize-horizontal:before {
	content: "\e089";
}
.dm-icon-resize-full:before {
	content: "\e08a";
}
.dm-icon-reset:before {
	content: "\e08b";
}
.dm-icon-republish:before {
	content: "\e08c";
}
.dm-icon-repeat:before {
	content: "\e08d";
}
.dm-icon-reorder:before {
	content: "\e08e";
}
.dm-icon-remove:before {
	content: "\e08f";
}
.dm-icon-remove-sign:before {
	content: "\e090";
}
.dm-icon-remove-circle:before {
	content: "\e091";
}
.dm-icon-refresh2:before {
	content: "\e092";
}
.dm-icon-refresh:before {
	content: "\e093";
}
.dm-icon-redo:before {
	content: "\e094";
}
.dm-icon-random:before {
	content: "\e095";
}
.dm-icon-question:before {
	content: "\e096";
}
.dm-icon-question-sign:before {
	content: "\e097";
}
.dm-icon-qrcode:before {
	content: "\e098";
}
.dm-icon-pushpin:before {
	content: "\e099";
}
.dm-icon-print:before {
	content: "\e09a";
}
.dm-icon-presentation:before {
	content: "\e09b";
}
.dm-icon-position_side:before {
	content: "\e09c";
}
.dm-icon-position_center:before {
	content: "\e09d";
}
.dm-icon-popup:before {
	content: "\e09e";
}
.dm-icon-podiumv:before {
	content: "\e09f";
}
.dm-icon-plus:before {
	content: "\e0a0";
}
.dm-icon-plus-sign:before {
	content: "\e0a1";
}
.dm-icon-play:before {
	content: "\e0a2";
}
.dm-icon-play-circle:before {
	content: "\e0a3";
}
.dm-icon-plane:before {
	content: "\e0a4";
}
.dm-icon-pizza:before {
	content: "\e0a5";
}
.dm-icon-pinterest:before {
	content: "\e0a6";
}
.dm-icon-picture:before {
	content: "\e0a7";
}
.dm-icon-picassa:before {
	content: "\e0a8";
}
.dm-icon-phone2:before {
	content: "\e0a9";
}
.dm-icon-phone:before {
	content: "\e0aa";
}
.dm-icon-phone-sign:before {
	content: "\e0ab";
}
.dm-icon-pencil2:before {
	content: "\e0ac";
}
.dm-icon-pencil:before {
	content: "\e0ad";
}
.dm-icon-pc:before {
	content: "\e0ae";
}
.dm-icon-payment:before {
	content: "\e0af";
}
.dm-icon-paw:before {
	content: "\e0b0";
}
.dm-icon-pause:before {
	content: "\e0b1";
}
.dm-icon-paper-clip:before {
	content: "\e0b2";
}
.dm-icon-PageBackgroundImgIcon:before {
	content: "\e0b3";
}
.dm-icon-page3:before {
	content: "\e0b4";
}
.dm-icon-page2:before {
	content: "\e0b5";
}
.dm-icon-page:before {
	content: "\e0b6";
}
.dm-icon-page-youtube2:before {
	content: "\e0b7";
}
.dm-icon-page-url:before {
	content: "\e0b8";
}
.dm-icon-page-rows:before {
	content: "\e0b9";
}
.dm-icon-page-menu:before {
	content: "\e0ba";
}
.dm-icon-page-list:before {
	content: "\e0bb";
}
.dm-icon-pacman:before {
	content: "\e0bc";
}
.dm-icon-p_page_url:before {
	content: "\e0bd";
}
.dm-icon-p_blog:before {
	content: "\e0be";
}
.dm-icon-p_about_us:before {
	content: "\e0bf";
}
.dm-icon-orange:before {
	content: "\e0c0";
}
.dm-icon-ok:before {
	content: "\e0c1";
}
.dm-icon-ok-sign:before {
	content: "\e0c2";
}
.dm-icon-ok-circle:before {
	content: "\e0c3";
}
.dm-icon-off:before {
	content: "\e0c4";
}
.dm-icon-nudels:before {
	content: "\e0c5";
}
.dm-icon-nocheck:before {
	content: "\e0c6";
}
.dm-icon-navigation:before {
	content: "\e0c7";
}
.dm-icon-n_stats:before {
	content: "\e0c8";
}
.dm-icon-n_payment:before {
	content: "\e0c9";
}
.dm-icon-n_manage_site:before {
	content: "\e0ca";
}
.dm-icon-n_general:before {
	content: "\e0cb";
}
.dm-icon-n_dashboard:before {
	content: "\e0cc";
}
.dm-icon-n_custom_domain:before {
	content: "\e0cd";
}
.dm-icon-n_custom_branding:before {
	content: "\e0ce";
}
.dm-icon-n_api:before {
	content: "\e0cf";
}
.dm-icon-music2:before {
	content: "\e0d0";
}
.dm-icon-music:before {
	content: "\e0d1";
}
.dm-icon-mug:before {
	content: "\e0d2";
}
.dm-icon-moveitem:before {
	content: "\e0d3";
}
.dm-icon-move:before {
	content: "\e0d4";
}
.dm-icon-MoreImgIcon:before {
	content: "\e0d5";
}
.dm-icon-minus:before {
	content: "\e0d6";
}
.dm-icon-minus-sign:before {
	content: "\e0d7";
}
.dm-icon-menu:before {
	content: "\e0d8";
}
.dm-icon-medal:before {
	content: "\e0d9";
}
.dm-icon-matrix:before {
	content: "\e0da";
}
.dm-icon-map-marker:before {
	content: "\e0db";
}
.dm-icon-mail:before {
	content: "\e0dc";
}
.dm-icon-magnet:before {
	content: "\e0dd";
}
.dm-icon-magic:before {
	content: "\e0de";
}
.dm-icon-locked:before {
	content: "\e0df";
}
.dm-icon-lock:before {
	content: "\e0e0";
}
.dm-icon-locations:before {
	content: "\e0e1";
}
.dm-icon-location:before {
	content: "\e0e2";
}
.dm-icon-list2:before {
	content: "\e0e3";
}
.dm-icon-list:before {
	content: "\e0e4";
}
.dm-icon-list-ul:before {
	content: "\e0e5";
}
.dm-icon-list-ol:before {
	content: "\e0e6";
}
.dm-icon-list-alt:before {
	content: "\e0e7";
}
.dm-icon-linkedin2:before {
	content: "\e0e8";
}
.dm-icon-linkedin:before {
	content: "\e0e9";
}
.dm-icon-linkedin-sign:before {
	content: "\e0ea";
}
.dm-icon-link3:before {
	content: "\e0eb";
}
.dm-icon-link2:before {
	content: "\e0ec";
}
.dm-icon-link:before {
	content: "\e0ed";
}
.dm-icon-lemon:before {
	content: "\e0ee";
}
.dm-icon-left:before {
	content: "\e0ef";
}
.dm-icon-left-to-right:before {
	content: "\e0f0";
}
.dm-icon-leaf:before {
	content: "\e0f1";
}
.dm-icon-layout2:before {
	content: "\e0f2";
}
.dm-icon-layout:before {
	content: "\e0f3";
}
.dm-icon-lamp:before {
	content: "\e0f4";
}
.dm-icon-lab:before {
	content: "\e0f5";
}
.dm-icon-key:before {
	content: "\e0f6";
}
.dm-icon-justice:before {
	content: "\e0f7";
}
.dm-icon-juice:before {
	content: "\e0f8";
}
.dm-icon-italic2:before {
	content: "\e0f9";
}
.dm-icon-italic:before {
	content: "\e0fa";
}
.dm-icon-innerpages:before {
	content: "\e0fb";
}
.dm-icon-info-sign:before {
	content: "\e0fc";
}
.dm-icon-indentright:before {
	content: "\e0fd";
}
.dm-icon-indentleft:before {
	content: "\e0fe";
}
.dm-icon-indent-right:before {
	content: "\e0ff";
}
.dm-icon-indent-left:before {
	content: "\e100";
}
.dm-icon-inbox:before {
	content: "\e101";
}
.dm-icon-import-txt:before {
	content: "\e102";
}
.dm-icon-img_tile:before {
	content: "\e103";
}
.dm-icon-img_no_tile:before {
	content: "\e104";
}
.dm-icon-img_full:before {
	content: "\e105";
}
.dm-icon-img_down:before {
	content: "\e106";
}
.dm-icon-img_across:before {
	content: "\e107";
}
.dm-icon-image:before {
	content: "\e108";
}
.dm-icon-IconImgIcon:before {
	content: "\e109";
}
.dm-icon-ice-cream:before {
	content: "\e10a";
}
.dm-icon-html2:before {
	content: "\e10b";
}
.dm-icon-html:before {
	content: "\e10c";
}
.dm-icon-homepage:before {
	content: "\e10d";
}
.dm-icon-home2:before {
	content: "\e10e";
}
.dm-icon-home:before {
	content: "\e10f";
}
.dm-icon-hide:before {
	content: "\e110";
}
.dm-icon-hide-tablet:before {
	content: "\e111";
}
.dm-icon-hide-phone:before {
	content: "\e112";
}
.dm-icon-hide-pc:before {
	content: "\e113";
}
.dm-icon-heart:before {
	content: "\e114";
}
.dm-icon-heart-empty:before {
	content: "\e115";
}
.dm-icon-headphones:before {
	content: "\e116";
}
.dm-icon-HeadingStyleImgIcon:before {
	content: "\e117";
}
.dm-icon-hdd:before {
	content: "\e118";
}
.dm-icon-hand-up:before {
	content: "\e119";
}
.dm-icon-hand-right:before {
	content: "\e11a";
}
.dm-icon-hand-left:before {
	content: "\e11b";
}
.dm-icon-hand-down:before {
	content: "\e11c";
}
.dm-icon-group:before {
	content: "\e11d";
}
.dm-icon-graduate:before {
	content: "\e11e";
}
.dm-icon-google-plus:before {
	content: "\e11f";
}
.dm-icon-google-drive:before {
	content: "\e120";
}
.dm-icon-globus:before {
	content: "\e121";
}
.dm-icon-globe:before {
	content: "\e122";
}
.dm-icon-glass:before {
	content: "\e123";
}
.dm-icon-github2:before {
	content: "\e124";
}
.dm-icon-github:before {
	content: "\e125";
}
.dm-icon-github-sign:before {
	content: "\e126";
}
.dm-icon-gift:before {
	content: "\e127";
}
.dm-icon-GeneralImgIcon:before {
	content: "\e128";
}
.dm-icon-gas-v-pump:before {
	content: "\e129";
}
.dm-icon-gamepad:before {
	content: "\e12a";
}
.dm-icon-Gallery:before {
	content: "\e12b";
}
.dm-icon-fullscreen:before {
	content: "\e12c";
}
.dm-icon-forward:before {
	content: "\e12d";
}
.dm-icon-forrst:before {
	content: "\e12e";
}
.dm-icon-football:before {
	content: "\e12f";
}
.dm-icon-food2:before {
	content: "\e130";
}
.dm-icon-food:before {
	content: "\e131";
}
.dm-icon-font2:before {
	content: "\e132";
}
.dm-icon-font:before {
	content: "\e133";
}
.dm-icon-font-size:before {
	content: "\e134";
}
.dm-icon-folder-open:before {
	content: "\e135";
}
.dm-icon-folder-close:before {
	content: "\e136";
}
.dm-icon-flag2:before {
	content: "\e137";
}
.dm-icon-flag:before {
	content: "\e138";
}
.dm-icon-fish:before {
	content: "\e139";
}
.dm-icon-fire:before {
	content: "\e13a";
}
.dm-icon-filter:before {
	content: "\e13b";
}
.dm-icon-film:before {
	content: "\e13c";
}
.dm-icon-file:before {
	content: "\e13d";
}
.dm-icon-feed:before {
	content: "\e13e";
}
.dm-icon-fast-forward:before {
	content: "\e13f";
}
.dm-icon-fast-backward:before {
	content: "\e140";
}
.dm-icon-facetime-video:before {
	content: "\e141";
}
.dm-icon-facebook3:before {
	content: "\e142";
}
.dm-icon-facebook2:before {
	content: "\e143";
}
.dm-icon-facebook:before {
	content: "\e144";
}
.dm-icon-facebook-sign:before {
	content: "\e145";
}
.dm-icon-eye:before {
	content: "\e146";
}
.dm-icon-eye-open:before {
	content: "\e147";
}
.dm-icon-eye-close:before {
	content: "\e148";
}
.dm-icon-external-link:before {
	content: "\e149";
}
.dm-icon-expande:before {
	content: "\e14a";
}
.dm-icon-exclamation-sign:before {
	content: "\e14b";
}
.dm-icon-envelope2:before {
	content: "\e14c";
}
.dm-icon-envelope:before {
	content: "\e14d";
}
.dm-icon-eject:before {
	content: "\e14e";
}
.dm-icon-eight-ball:before {
	content: "\e14f";
}
.dm-icon-edit2:before {
	content: "\e150";
}
.dm-icon-edit:before {
	content: "\e151";
}
.dm-icon-duda-arrow:before {
	content: "\e152";
}
.dm-icon-drop:before {
	content: "\e153";
}
.dm-icon-drink3:before {
	content: "\e154";
}
.dm-icon-drink:before {
	content: "\e155";
}
.dm-icon-dribbble:before {
	content: "\e156";
}
.dm-icon-download:before {
	content: "\e157";
}
.dm-icon-download-alt:before {
	content: "\e158";
}
.dm-icon-down:before {
	content: "\e159";
}
.dm-icon-dollar:before {
	content: "\e15a";
}
.dm-icon-dog:before {
	content: "\e15b";
}
.dm-icon-devices:before {
	content: "\e15c";
}
.dm-icon-desktop2:before {
	content: "\e15d";
}
.dm-icon-DesignImgIcon:before {
	content: "\e15e";
}
.dm-icon-design:before {
	content: "\e15f";
}
.dm-icon-delete:before {
	content: "\e160";
}
.dm-icon-cut:before {
	content: "\e161";
}
.dm-icon-cupcake:before {
	content: "\e162";
}
.dm-icon-cup:before {
	content: "\e163";
}
.dm-icon-croisant2:before {
	content: "\e164";
}
.dm-icon-credit2:before {
	content: "\e165";
}
.dm-icon-credit:before {
	content: "\e166";
}
.dm-icon-copy:before {
	content: "\e167";
}
.dm-icon-complex:before {
	content: "\e168";
}
.dm-icon-comments:before {
	content: "\e169";
}
.dm-icon-comment:before {
	content: "\e16a";
}
.dm-icon-columns-4:before {
	content: "\e16b";
}
.dm-icon-columns-3:before {
	content: "\e16c";
}
.dm-icon-columns-2:before {
	content: "\e16d";
}
.dm-icon-column-1:before {
	content: "\e16e";
}
.dm-icon-color-icon:before {
	content: "\e16f";
}
.dm-icon-collapse:before {
	content: "\e170";
}
.dm-icon-cogs:before {
	content: "\e171";
}
.dm-icon-cog:before {
	content: "\e172";
}
.dm-icon-coffee:before {
	content: "\e173";
}
.dm-icon-cloud:before {
	content: "\e174";
}
.dm-icon-circle-arrow-up:before {
	content: "\e175";
}
.dm-icon-circle-arrow-right:before {
	content: "\e176";
}
.dm-icon-circle-arrow-left:before {
	content: "\e177";
}
.dm-icon-circle-arrow-down:before {
	content: "\e178";
}
.dm-icon-chrome:before {
	content: "\e179";
}
.dm-icon-chicken:before {
	content: "\e17a";
}
.dm-icon-chevron-up:before {
	content: "\e17b";
}
.dm-icon-chevron-right:before {
	content: "\e17c";
}
.dm-icon-chevron-left:before {
	content: "\e17d";
}
.dm-icon-chevron-down:before {
	content: "\e17e";
}
.dm-icon-cherry:before {
	content: "\e17f";
}
.dm-icon-checkmark:before {
	content: "\e180";
}
.dm-icon-checkbox1:before {
	content: "\e181";
}
.dm-icon-checkbox_small:before {
	content: "\e182";
}
.dm-icon-check2:before {
	content: "\e183";
}
.dm-icon-check:before {
	content: "\e184";
}
.dm-icon-check-empty:before {
	content: "\e185";
}
.dm-icon-certificate:before {
	content: "\e186";
}
.dm-icon-car:before {
	content: "\e187";
}
.dm-icon-camera:before {
	content: "\e188";
}
.dm-icon-camera-retro:before {
	content: "\e189";
}
.dm-icon-call:before {
	content: "\e18a";
}
.dm-icon-calendar:before {
	content: "\e18b";
}
.dm-icon-cake:before {
	content: "\e18c";
}
.dm-icon-cabinet:before {
	content: "\e18d";
}
.dm-icon-buttonsStyleImgIcon:before {
	content: "\e18e";
}
.dm-icon-buttonsStyleImgIcon-:before {
	content: "\e18f";
}
.dm-icon-bus:before {
	content: "\e190";
}
.dm-icon-bullhorn:before {
	content: "\e191";
}
.dm-icon-briefcase:before {
	content: "\e192";
}
.dm-icon-bowling:before {
	content: "\e193";
}
.dm-icon-bookmark2:before {
	content: "\e194";
}
.dm-icon-bookmark:before {
	content: "\e195";
}
.dm-icon-bookmark-empty:before {
	content: "\e196";
}
.dm-icon-book2:before {
	content: "\e197";
}
.dm-icon-book:before {
	content: "\e198";
}
.dm-icon-bold:before {
	content: "\e199";
}
.dm-icon-boat:before {
	content: "\e19a";
}
.dm-icon-blogger:before {
	content: "\e19b";
}
.dm-icon-blank:before {
	content: "\e19c";
}
.dm-icon-bike2:before {
	content: "\e19d";
}
.dm-icon-bike:before {
	content: "\e19e";
}
.dm-icon-bell:before {
	content: "\e19f";
}
.dm-icon-beer-mug:before {
	content: "\e1a0";
}
.dm-icon-bed:before {
	content: "\e1a1";
}
.dm-icon-beaker:before {
	content: "\e1a2";
}
.dm-icon-basketball:before {
	content: "\e1a3";
}
.dm-icon-baseball:before {
	content: "\e1a4";
}
.dm-icon-bars:before {
	content: "\e1a5";
}
.dm-icon-barcode:before {
	content: "\e1a6";
}
.dm-icon-bar-chart:before {
	content: "\e1a7";
}
.dm-icon-ban-circle:before {
	content: "\e1a8";
}
.dm-icon-backward:before {
	content: "\e1a9";
}
.dm-icon-B-bold:before {
	content: "\e1aa";
}
.dm-icon-attachment:before {
	content: "\e1ab";
}
.dm-icon-asterisk:before {
	content: "\e1ac";
}
.dm-icon-arrow:before {
	content: "\e1ad";
}
.dm-icon-arrow-up:before {
	content: "\e1ae";
}
.dm-icon-arrow-right:before {
	content: "\e1af";
}
.dm-icon-arrow-left:before {
	content: "\e1b0";
}
.dm-icon-arrow-down:before {
	content: "\e1b1";
}
.dm-icon-arrow_up:before {
	content: "\e1b2";
}
.dm-icon-arrow_right:before {
	content: "\e1b3";
}
.dm-icon-arrow_dropdown:before {
	content: "\e1b4";
}
.dm-icon-archive:before {
	content: "\e1b5";
}
.dm-icon-apple:before {
	content: "\e1b6";
}
.dm-icon-android:before {
	content: "\e1b7";
}
.dm-icon-americanfootball:before {
	content: "\e1b8";
}
.dm-icon-align-top:before {
	content: "\e1b9";
}
.dm-icon-align-right:before {
	content: "\e1ba";
}
.dm-icon-align-left:before {
	content: "\e1bb";
}
.dm-icon-align-justify:before {
	content: "\e1bc";
}
.dm-icon-align-center:before {
	content: "\e1bd";
}
.dm-icon-align-center-2:before {
	content: "\e1be";
}
.dm-icon-align-bottem:before {
	content: "\e1bf";
}
.dm-icon-airplane:before {
	content: "\e1c0";
}
.dm-icon-adjust:before {
	content: "\e1c1";
}
.dm-icon-about:before {
	content: "\e1c2";
}
